body {background-color:#3efaf7;text-align:justify;font-size:
  18px;}
h1{text-align:center;background-color:#2FBDBA;color:
  #17313B;}
h3 {text-align:jstify;color:#1f7a79;}
b{color:blue;font-size:18px;}
i{color:blue;font-size:
